@model IEnumerable<tiendaVirtual.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Carro</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Select((x, i) => new { Value = x, Index = i }))
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Value.nombre)
        </td>
        <td>
            <img src="@item.Value.imagen" class="img-rounded" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value.cantidad)
        </td>
        <td>
            <a class="btn btn-danger" href="@Url.Action("DeleteFromCart", "Carro",  new { index=item.Index } )">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Eliminar del carro
            </a>
            <a class="btn btn-success" href="@Url.Action("Buy", "Carro",  new { index=item.Index } )">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Comprar item
            </a>
        </td>
    </tr>
}

</table>
